<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>수정</title>
</head>
<body>
    <h1>수정</h1>
    <form action="/board/register" method="post">
        제목 : <input name="boardTitle" class="boardTitle"><br>
        내용 : <input name="boardContent" class="boardContent"><br>
        <button type="submit">수정</button>
        <button type="submit">삭제</button>
        <input hidden readonly name="boardNum" th:value="${boardDTO.boardNum}">

    </form>

</body>
</html>