<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>호텔 목록보기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<h1>호텔 목록보기</h1>
<form>
    <a href="/hotel/register">호텔 추가하기</a>
    <table>
        <thead>
            <th>no.</th>
            <th>호텔 이름</th>
            <th>호텔 주소</th>
            <th>본사</th>
        </thead>
        <tbody>
            <th:block th:each="hotelDTO: ${hotelDTOPage}">
                <tr>
                    <td><a th:text="${hotelDTO.hotelNum}"></a></td>
                    <td><a th:href="@{|/hotel/read/${hotelDTO.hotelNum}|}" th:text="${hotelDTO.hotelName}"></a></td>
                    <td><a th:text="${hotelDTO.hotelAddr}"></a></td>
                    <td><a th:text="${hotelDTO.admin}"></a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</form>

<!--페이징-->
<ul class="pagination justify-content-center">
    <!-- 처음 페이지 버튼 -->
    <li class="page-item" th:classappend="${hotelDTOPage.number == 0} ? 'disabled'">
        <a class="page-link" th:href="@{/hotel/list?page=0}">처음</a>
    </li>

    <!-- 이전 페이지 버튼 -->
    <li class="page-item" th:classappend="${!hotelDTOPage.hasPrevious()} ? 'disabled'">
        <a class="page-link" th:href="@{/hotel/list?page={prev}(prev=${hotelDTOPage.number - 1})}">이전</a>
    </li>

    <!-- 현재 페이지 기준 앞 4개, 뒤 5개 -->
    <li class="page-item"
        th:each="pageNum : ${#numbers.sequence(
            (hotelDTOPage.number - 4 > 0 ? hotelDTOPage.number - 4 : 0),
            (hotelDTOPage.number + 5 < hotelDTOPage.totalPages - 1 ? hotelDTOPage.number + 5 : hotelDTOPage.totalPages - 1)
        )}"
        th:classappend="${pageNum == hotelDTOPage.number} ? 'active'">
        <a class="page-link" th:href="@{/hotel/list?page={p}(p=${pageNum})}" th:text="${pageNum + 1}"></a>
    </li>

    <!-- 다음 페이지 버튼 -->
    <li class="page-item" th:classappend="${!hotelDTOPage.hasNext()} ? 'disabled'">
        <a class="page-link" th:href="@{/hotel/list?page={next}(next=${hotelDTOPage.number + 1})}">다음</a>
    </li>

    <!-- 마지막 페이지 버튼 -->
    <li class="page-item" th:classappend="${hotelDTOPage.number == hotelDTOPage.totalPages - 1} ? 'disabled'">
        <a class="page-link" th:href="@{/hotel/list?page={last}(last=${hotelDTOPage.totalPages - 1})}">마지막</a>
    </li>
</ul>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>