<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>호텔 추가하기</title>
</head>
<body>
<h1>호텔 추가하기</h1>

<form action="/hotel/register" method="post">
    <a href="/hotel/list">돌아가기</a>
    <table>
        <thead>
            <th>호텔 이름</th>
            <th>호텔 주소</th>
            <th>본사</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!--호텔 이름-->
                    <input type="text" name="hotelName" required>
                </td>
                <td>
                    <!--호텔 주소-->
                    <input type="text" name="hotelAddr" required>
                </td>
                <td>
                    <!--호텔이 속한 본사-->
                    <!--나중에 input이 아니라 본사List로 해서
                    선택할수있도록 변경할예정-->
                    <input type="text">
                </td>
                <td>
                    <button>저장</button>
                </td>
            </tr>
        </tbody>
    </table>

</form>
</body>
</html>