<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>호텔 정보수정</title>
</head>
<body>
<h1>호텔 정보수정</h1>

<!--아름님것과 동일하게 작성한 코드-->
<!--기존 값을 띄워주는 기능이 없음, 테이블 없음, input hidden 있음-->
<!--<form action="/hotel/register" method="post">-->
<!--    호텔 이름 : <input name="hotelName" class="hotelName"><br>-->
<!--    호텔 주소 : <input name="hotelAddr" class="hotelAddr"><br>-->
<!--    <button type="submit">수정</button>-->
<!--    <input hidden readonly name="hotelNum" th:value="${hotelDTO.hotelNum}">-->
<!--</form>-->

<!--내가 원래 작성한 코드-->
<!--기존 값을 띄워줌, th:action과 테이블 사용, input hidden 없음-->
<form th:action="@{|/hotel/update/${hotelDTO.hotelNum}|}" method="post">
    <a th:href="@{|/hotel/read/${hotelDTO.hotelNum}|}">돌아가기</a>
    <table>
        <thead>
            <th>호텔 이름</th>
            <th>호텔 주소</th>
            <th>본사</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!--호텔 이름-->
                    <input type="text" th:value="${hotelDTO.hotelName}" name="hotelName" required>
                </td>
                <td>
                    <!--호텔 주소-->
                    <input type="text" th:value="${hotelDTO.hotelAddr}" name="hotelAddr" required>
                </td>
                <td>
                    <!--호텔이 속한 본사-->
                    <!--나중에 input이 아니라 본사List로 해서
                    선택할수있도록 변경할예정-->
                    <input type="text">
                </td>
                <td>
                    <button>저장</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<form action="/hotel/del/{hotelNum}">
    <button type="submit">삭제</button>
    <input hidden readonly name="hotelNum" th:value="${hotelDTO.hotelNum}">
</form>

</body>
</html>